/**
 * @file
 * Style rules for custom Platform.sh reveal theme.
 *
 * Originally based on theme for Palantir.net, reskinned by Larry Garfield.
 */

// Default mixins and settings -----------------
@import "mixins";
// ---------------------------------------------

// Add inline font faces

@font-face {
   font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-Italic.ttf');
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: 'open-sans';
      src: url('../fonts/open-sans/OpenSans-Bold.ttf');
   font-weight: 600;
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-BoldItalic.ttf');
   font-weight: 600;
   font-weight: bold;
   font-style: italic;
}
@font-face {
   font-family: 'open-sans';
    src: url('../fonts/open-sans/OpenSans-Light.ttf');
   font-weight: 200;
   font-style: normal;
}
@font-face {
   font-family: 'open-sans';
      src: url('../fonts/open-sans/OpenSans-LightItalic.ttf');
   font-weight: 200;
   font-style: italic;
}
@font-face {
   font-family: 'open-sans';
      src: url('../fonts/open-sans/OpenSans-ExtraBold.ttf');
   font-weight: 900;
   font-style: normal;
}
//@font-face {
//   font-family: 'proxima-nova-cond';
//      src: url('../fonts/proxima-nova-cond/Proxima Nova Cond-Regular.otf');
//   font-weight: normal;
//   font-style: normal;
//}
//@font-face {
//   font-family: 'proxima-nova-cond';
//      src: url('../fonts/proxima-nova-cond/Proxima Nova Cond-RegularIt.otf');
//   font-weight: normal;
//   font-style: italic;
//}
//@font-face {
//   font-family: 'proxima-nova-cond';
//      src: url('../fonts/proxima-nova-cond/Proxima Nova Cond-Light.otf');
//   font-weight: 200;
//   font-style: normal;
//}
//@font-face {
//   font-family: 'proxima-nova-cond';
//      src: url('../fonts/proxima-nova-cond/Proxima Nova Cond-LightIt.otf');
//   font-weight: 200;
//   font-style: italic;
//}
//@font-face {
//   font-family: 'proxima-nova-cond';
//      src: url('../fonts/proxima-nova-cond/Proxima Nova Cond-Semibold.otf');
//   font-weight: 600;
//   font-style: normal;
//}
//@font-face {
//   font-family: 'proxima-nova-cond';
//      src: url('../fonts/proxima-nova-cond/Proxima Nova Cond-SemiboldIt.otf');
//   font-weight: 600;
//   font-style: italic;
//}


// Platform Color Variables
$orange: #fb6500;
$teal: #00b4ff;
$green: #00b4ff;
$lt-gray: #dbe8ec;
$gray: #7f9aa0;
$dk-gray: #424041;

// Overide variables from settings
// Background of the presentation
$backgroundColor: $lt-gray;

// Primary/body text
$mainFont: 'proxima-nova', sans-serif;
$mainFontSize: 30px;
$mainColor: $dk-gray;

// Vertical spacing between blocks of text
$blockMargin: 0.25em;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'open-sans', sans-serif;
$headingLineHeight: 1;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;

$heading1Size: 3.25em;
$heading2Size: 2em;
$heading3Size: 1.5em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: $teal;
$linkColorHover: darken( $linkColor, 10% );

// Text selection
$selectionBackgroundColor: $gray;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
   background: $backgroundColor;
}

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import "compass/support";
// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix";
// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites";
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3";
// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm";
// Add the Breakpoint mixin.
@import "breakpoint";

// Theme template ------------------------------
@import "theme";
@import "code";
@import "general";
// ---------------------------------------------
